section.author {
  display: flex;
  gap: 17px;
  align-items: flex-start;
  text-align: left;
  text-transform: none;

  .authorimage {
    flex: 0 0 80px;
    height: 80px;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
  }

  .author-content {
    flex: 1;
    min-width: 0;
  }

  h4 {
    margin: 0 0 4px;
    padding-top: 4px;
    &:before {
      content: unset;
    }
  }

  .meta {
    font-size: 12px;
    line-height: 19px;
    padding-top: 7px;
    text-transform: uppercase;
  }

  .bio {
    font-size: 14px;
    line-height: 1.2em;
  }

  p {
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 20px;
  }
}
