$color-text: #123C69;
$color-title: #4F6162;
$color-accent: #A6823F;
$color-accent-em: #AC3B61;
$color-link: #B7934E;
$color-bg--light: #FEFFFF;

@mixin primaryText { color: $color-text; }
@mixin primaryBg { background-color: $color-bg--light } // base 3

@font-face {
  font-family: "Isoevka";
  src: url("fonts/isoevka-custom-extended.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Isoevka";
  src: url("fonts/isoevka-custom-extendedbold.ttf") format("truetype");
  font-style: bold;
  font-weight: 700;
}

@mixin titleFont { font-family: 'Lora'; }
@mixin bodyFont { 
  font-family: 'Lora'; 
  font-size: 1.1rem; 
  line-height: 1.5;
  @include md {
    font-size: 18px;
    line-height: unset;
  }
}
@mixin codeFont { font-family: "Isoevka", monospace; font-size: 0.8rem;}
@mixin codeInline {background-color: #393939; color: #d68686}

// Hyper links
a.nav-title {
  @include titleFont;
  font-size: 1.75rem;
  color: $color-accent;
  overflow: clip;
  font-weight: bold;
  line-height: 1;

  .title-ink {
    position: relative;
    font-style: italic;
    font-weight: normal;
    color: $color-bg--light;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 5px;
      right: -3px;   
      background-color: $color-accent-em;
      transform: skew(-30deg);
      z-index: -1;
    }
  }
  
  .title-social {
    // TODO: hide this element on non-social pages
    // TODO: Change the title based on the social vs not page
    font-weight: normal;
    opacity: 75%;
  }  
}
a {
  color: $color-accent;
  transition-duration: 400ms;
}
a:hover:not(.zola-anchor) {
  background-color: $color-accent-em;
  color: $color-bg--light !important;
}
a[itemprop="url"] {
  color: $color-accent;
}
:target {
  color: $color-bg--light;
  background-image: linear-gradient(127deg, $color-accent, #00000000);
}

body {
  @include bodyFont;
  @include primaryText;
  @include primaryBg;
  h1,h2,h3,h4,h5,h6 {
    @include titleFont;
    color: $color-title;
    a {
      color: $color-title;
    }
  }
  blockquote, em, strong {
    @include bodyFont;
  }
  code {
    @include codeFont;
    @include codeInline;
    overflow-x: auto;
  }
  p code, li code {
    font-size: 0.8rem;
  }
  pre code { 
    font-size: 0.8rem;
    color: unset;
    background-color: unset;
  }
  strong, em {
    color: $color-accent-em;
  }
  .pageDate {
    font-size: 0.75em;
    opacity: 50%;
  }
}

tbody tr:nth-child(2n+1) {
  background-color: rgba($color-text, .1);
}

section.author {
  .meta, h4 {
    @include titleFont;
  }
}
