$color-primary: #a6823f;
$color-accent: #AC3B61;
$color-primaryText: #123C69;
$color-bg--light: #FEFFFF;

@mixin primaryText { color: $color-primaryText; } // Base00
@mixin primaryBg { background-color: $color-bg--light } // base 3

@font-face {
  font-family: "Isoevka";
  src: url("fonts/isoevka-custom-extended.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Isoevka";
  src: url("fonts/isoevka-custom-extendedbold.ttf") format("truetype");
  font-style: bold;
  font-weight: 700;
}

@mixin titleFont { font-family: 'Lora'; }
@mixin bodyFont { 
  font-family: 'Lora'; 
  font-size: 1.1rem; 
  line-height: 1.5;
  @include md {
    font-size: 18px;
    line-height: unset;
  }
}
@mixin codeFont { font-family: "Isoevka", monospace; font-size: 0.8rem;}
@mixin codeInline {background-color: #393939; color: #d68686}

// Hyper links
a.nav-title {
  @include titleFont;
  color: $color-primary;
}
a {
  color: $color-accent;
  transition-duration: 400ms;
}
a:hover:not(.zola-anchor) {
  background-color: $color-primaryText;
  color: $color-bg--light !important;
}
a[itemprop="url"] {
  color: $color-accent;
}
:target {
  color: $color-bg--light;
  background-image: linear-gradient(127deg, $color-primaryText, #00000000);
}

body {
  @include bodyFont;
  @include primaryText;
  @include primaryBg;
  h1,h2,h3,h4,h5,h6 {
    @include titleFont;
    color: $color-primary;
    a {
      border-color: $color-primary;
      color: $color-primary;
    }
  }
  blockquote, em, strong {
    @include bodyFont;
  }
  code {
    @include codeFont;
    @include codeInline;
    overflow-x: auto;
  }
  p code, li code {
    font-size: 0.8rem;
  }
  pre code { 
    font-size: 0.8rem;
    color: unset;
    background-color: unset;
  }
  strong, em {
    color: $color-accent;
  }
  .pageDate {
    font-size: 0.75em;
    opacity: 50%;
  }
}

tbody tr:nth-child(2n+1) {
  background-color: rgba($color-primaryText, .1);
}

section.author {
  .meta, h4 {
    @include titleFont;
  }
}
