$color-text: #123C69;
$color-title: #4F6162;
$color-accent: #A6823F;
$color-accent-em: #AC3B61;
$color-link: #B7934E;
$color-bg--light: #FEFFFF;
$code-bg: #393939;
$code-text: #D68686; 

$color-text-dk: $color-bg--light;
$color-title-dk: $color-bg--light;
$color-accent-dk: #C2A17E;
$color-accent-em-dk: #E07996;
$color-link-dk: #B7934E;
$color-bg--dk: $color-title;
$code-bg-dk: #393939;
$code-text-dk: #D68686; 

:root {
  color-scheme: light dark;
}

@mixin primaryText { color: light-dark($color-text, $color-text-dk); }
@mixin primaryBg { background-color: light-dark($color-bg--light, $color-bg--dk); }

@font-face {
  font-family: "Isoevka";
  src: url("fonts/isoevka-custom-extended.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Isoevka";
  src: url("fonts/isoevka-custom-extendedbold.ttf") format("truetype");
  font-style: bold;
  font-weight: 700;
}

@mixin titleFont { font-family: 'Lora'; }
@mixin bodyFont { 
  font-family: 'Lora'; 
  font-size: 1.1rem; 
  line-height: 1.5;
  @include md {
    font-size: 18px;
    line-height: unset;
  }
}
@mixin codeFont { font-family: "Isoevka", monospace; font-size: 0.8rem;}
@mixin codeInline {background-color: light-dark($code-bg, $code-bg-dk); color: light-dark($code-text, $code-text-dk);}

// Hyper links
a.nav-title {
  @include titleFont;
  font-size: 1.75rem;
  color: light-dark($color-accent, $color-accent-dk);
  overflow: clip;
  font-weight: bold;
  line-height: 1;

  .title-ink {
    position: relative;
    font-style: italic;
    font-weight: normal;
    color: light-dark($color-bg--light, $color-bg--dk);
    &:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 5px;
      right: -3px;   
      background-color: light-dark($color-accent-em, $color-accent-em-dk);
      transform: skew(-30deg);
      z-index: -1;
    }
  }
  
  .title-social {
    font-weight: normal;
    opacity: 75%;
  }
}

.nav-dark-toggle > svg {
  fill: light-dark($color-accent, $color-accent-dk);
  &:hover {
    fill: light-dark($color-accent-em-dk, $color-accent-em);
  }
}

a {
  color: light-dark($color-accent, $color-accent-dk);
  transition-duration: 400ms;
}
a:hover:not(.zola-anchor) {
  background-color: light-dark($color-accent-em, $color-accent-em-dk);
  color: light-dark($color-bg--light, $color-bg--dk) !important;
  border-radius: 2px;
}
a[itemprop="url"] {
  color: light-dark($color-accent, $color-accent-dk);
}
:target {
  color: light-dark($color-bg--light, $color-bg--dk);
  background-image: linear-gradient(127deg, light-dark($color-accent, $color-accent-dk) 30%, #00000000 90%);
  border-radius: 2px;
}

body {
  @include bodyFont;
  @include primaryText;
  @include primaryBg;
  h1,h2,h3,h4,h5,h6 {
    @include titleFont;
    color: light-dark($color-title, $color-title-dk);
    a {
      color: light-dark($color-title, $color-title-dk);
    }
  }
  blockquote, em, strong {
    @include bodyFont;
  }
  code {
    @include codeFont;
    @include codeInline;
    overflow-x: auto;
  }
  p code, li code {
    font-size: 0.8rem;
  }
  pre code { 
    font-size: 0.8rem;
    color: unset;
    background-color: unset;
  }
  strong, em {
    color: light-dark($color-accent-em, $color-accent-em-dk);
  }
  .pageDate {
    font-size: 0.75em;
    opacity: 50%;
  }
}

tbody tr:nth-child(2n+1) {
  background-color: light-dark(rgba($color-text, .1), rgba($color-text-dk, .1));
}

section.author {
  .meta, h4 {
    @include titleFont;
  }
}
