.navbox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 15px 0 0 0;
}

.nav-content {
  margin-left: 10px;
}

.nav-image {
  background-size: cover !important;
  border-radius: 50%;
  background-position: center center;
  width: 60px;
  height: 60px;
  border: 3px solid #f4f3f3;
}

.nav-items {
  @include sm {
    order: 3;
    width: 100%;
  }
  .nav-item {
    padding-right: 5px;
    &:after {
      all:unset;
    }
  }
}

a.nav-title {
  &:after {
    all:unset;
  }
  font-size: 1.75rem;
  margin-right: 5px;
  padding: 0;
}
