// Nav fixes
header nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  line-height: 3rem;
  position: relative;
  padding-bottom: 5px;
}

.navitems {
  @include sm {
    order: 3;
    width: 100%;
  }
}

h1 {
  padding-top: 0;
}

header + article {
  margin-top: 0;
}
