@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@900&family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "fa/fontawesome.scss";
@import "fa/solid.scss";
@import "screenSizes";
@import "colorsAndFonts";
@import "author";
@import "anchor";
@import "code";
@import "pager";
@import "headerAndRule";
@import "directory";

body {
  margin: 0 15% 5% 15%;
  @include sm {
    margin: 0 5% 5% 5%;
  }
  @include md {
    margin: 0 5% 5% 5%;
  }
}

em {
  font-style: italic;
  &:after, &:before {
    content: unset;
  }
}
