@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@900&family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "fa/fontawesome.scss";
@import "fa/solid.scss";
@import "screenSizes";
@import "colorsAndFonts";
@import "author";
@import "anchor";
@import "code";
@import "pager";
@import "navigation";
@import "emote";

body {
  h1,h2,h3,h4,h5,h6 { 
     @at-root a#{&} {
      padding-left: 10px; 
    }
  }
  
  header {
      h1,h2,h3,h4,h5,h6 { 
      padding-left: unset; 
    }
  }

  max-width: 650px;
  margin: 0 auto;
  @include md {
    margin: 0 15px;
  }
}

em {
  font-style: italic;
  &:after, &:before {
    content: unset;
  }
}

header {
  h1 {
    margin-bottom: 0;
  }
  p {
    margin-top: 0;
  }
}

li.tag {
  padding: 2px;
}

div.articlebody h2 {
  border-bottom: 2px dotted $color-primaryText;
}

footer {
  margin-bottom: 15px;
}
