<script>
function get_opposite(current) {
  switch (current) {
    case 'light': return 'dark'
    case 'dark': return 'light'
    default:
      if (window.matchMedia('(prefers-color-scheme: dark)').matches) { return 'light' } else { return 'dark'}
  }
}
function toggle_dark() {
  const root = document.documentElement;
  let current = getComputedStyle(root).getPropertyValue('color-scheme').trim()
  const next = get_opposite(current);
  root.style.setProperty('color-scheme', next);
  localStorage.setItem('color-scheme', next);
}
(function() {
  const saved = localStorage.getItem('color-scheme');
  if (saved) { document.documentElement.style.setProperty('color-scheme', saved); }
})();
</script>
