{% macro page_preview(page) %}
<article itemscope itemtype="https://schema.org/CreativeWork">
  <header>
    <h2 class="pagetitle" itemprop="name">
      <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
    </h2>
    <p class="pageDate">
      {% if page.date %}{{ page.date }}{% else %}<em>Evergreen</em>{% endif %}
    </p>
  </header>
  {% if page.summary %}
    <div class="pagesummary" itemprop="summary">
      {{ page.summary | safe }}
      <a itemprop="url" href="{{ page.permalink | safe }}">More</a>
    </div>
  {% endif %}
</article>
{% endmacro page_preview %}
