<header>
  <nav class="navbox" itemscope itemtype="http://schema.org/SiteNavigationElement">
    <a class="nav-title" href="{{config.base_url}}"><div class="nav-image-box"><div class="nav-image" style="background-image: url({{config.extra.bio.avatar}})"></div></div>nill<span class="title-ink">&#46;ink</span><span class="title-social" hidden>oss</span></a>&nbsp;
    <span class="navbox-spacer"></span>
    {% for item in config.extra.menu %}
    <a itemprop="url"
        class="{% if item.url | replace(from="$BASE_URL", to=config.base_url) == current_url %}active{% endif %}"
        href="{{ item.url | safe | replace(from="$BASE_URL", to=config.base_url) }}">
        <span itemprop="name">{{ item.name }}</span></a>&nbsp;&nbsp;
    {% endfor %}
    <button class="nav-dark-toggle" onclick="toggle_dark()"><svg viewBox="145 145 220 220" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><path d="M248.082 263.932c-31.52-31.542-39.978-77.104-26.02-116.542-15.25 5.394-29.668 13.834-41.854 26.02-43.75 43.75-43.75 114.668 0 158.396 43.728 43.73 114.626 43.752 158.374 0 12.228-12.186 20.646-26.604 26.022-41.854-39.414 13.958-84.998 5.5-116.522-26.018"/></svg></button>
  </nav>
</header>
