{% extends "index.html" %}
{% import "macros/footer.html" as footer_macros %}
{% import "macros/page-tags.html" as tag_macros %}
{% import "macros/index.html" as index_macros %}

{% block content %}
  {% block header %}
    {{ super() }}
  {% endblock header %}

  <article itemscope itemtype="https://schema.org/BlogPosting">
    <header>
        <h1 itemprop="headline">{{ page.title }}</h1>
        {% set show_date = page.extra | get(key="show_date", default="true") %}
        {% if show_date %}
        <p>
          {% if page.date %}{{ page.date }}{% else %}<em>Evergreen</em>{% endif %}&nbsp;{{tag_macros::tags()}}
        </p>
        {% endif %}
    </header>
    <div class="articlebody" itemprop="articleBody">
      {{ page.content | safe }}
    </div>
  </article>
  {% set show_comments = page.extra | get(key="show_comments", default="true") %}
  {% if show_comments %}
  <script 
    src="https://utteranc.es/client.js"
    repo="dfontana/dfontana.github.io"
    issue-term="pathname"
    label="comments"
    theme="github-light"
    crossorigin="anonymous"
    async
  ></script>
  {% endif %}

  {% if config.extra.footer %}
    {{ footer_macros::footer(foot=config.extra.footer) }}
  {% endif %}
{% endblock content %}
