{% extends "index.html" %}
{% import "macros/footer.html" as footer_macros %}
{% import "macros/page-tags.html" as tag_macros %}
{% import "macros/index.html" as index_macros %}

{% block content %}
  {% block header %}
    {{ super() }}
  {% endblock header %}

  <article itemscope itemtype="http://schema.org/BlogPosting">
    <header>
        <h1 itemprop="headline">{{ page.title }}</h1>
        {% set show_date = page.extra | get(key="show_date", default="true") %}
        {% if show_date %}
        <p>
          {{ page.date }}&nbsp;{{tag_macros::tags()}}
        </p>
        {% endif %}
        <hr>
    </header>
    <div class="articlebody" itemprop="articleBody">
      {{ page.content | safe }}
    </div>
  </article>

  {% if config.extra.footer %}
    {{ footer_macros::footer(foot=config.extra.footer) }}
  {% endif %}
{% endblock content %}
